
body {
    background-image: linear-gradient( rgba(43, 43, 43, 0.426) , rgba(3, 3, 3, 0.336) ) ,url('források/képek/AC\ home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.udvozlo h1 {
    background-color: rgba(128, 128, 128, 0.708);
    text-align: center;
    font-size: 1410;
    color: rgb(3, 0, 100);
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 30px;
}

.udvozlo h2 {
    background-color: rgba(128, 128, 128, 0.708);
    color: rgb(3, 0, 100);
    
    font-size: 18px;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

.udvozlo h3 {
    background-color: rgba(128, 128, 128, 0.708);
    color: rgb(3, 0, 100);
    
    font-size: 15px;
    text-align: center  ;
    padding-bottom: 15px;
    padding-top: 15px;
}
.leiras #as{
    margin-bottom: 120px;
}
h1 a {
    color: rgb(3, 0, 100);
    text-decoration: none;
}
.nvbr{
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'Poppins' ,sans-serif;

}
.nvbr a:active,a:link,a:visited{
    text-decoration: none;
    color: rgb(175, 175, 175);
    transition: 0.6s;
    
}
.nav-item a:hover{
    background-color: rgb(114, 1, 1);
    color: rgb(255, 255, 255);
}
.aclogo{
    max-width: 600px;
    margin-top: 50px;
    margin-bottom: 300px;
}
.udvozlo h1,h2,h3{
    
}
.leiras{
    background-color: rgba(0, 0, 0, 0.781);
    color: white;
}
.leiras h1{
    text-align: center;
}
.kartyak{
    color: black;

}
.kartyak .card{
    margin: 20px 50px;
    background-color: rgb(209, 209, 209);
}
.kartyak .card-image-top{
    transition: 1s;
    border-radius: 100px;
}
.kartyak .card:hover .card-image-top{
     background-color: orange;
}

p{
    text-decoration: none;
    text-align: center;
}

.kvíz-1{
color: white;
background-color: rgba(2, 2, 2, 0.856);
}

#quiz{
    font-size: larger;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#komment{
    font-size: larger;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#kapcsolat{
border-radius: 50px;
  padding: 50px; 
  border-color: black;
}

.nevek{
    box-shadow: 5px 3px 5px 5px rgb(0, 0, 0);
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }

.nevek:hover .tooltiptext{
     visibility: visible;
}

.container {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: rgb(0, 255, 221);
    box-shadow: 10px 10px 5px 12px rgb(0, 0, 0);
}
#kapcs {
    background-image: url('források/képek/173-1737961_assassins-creed-wallpaper-4k.jpg');
}
#kvííz {
    background-image: url('források/képek/3zkukvllfc711.jpg');
}
#kapcs .card{
    background-color: black;
    box-shadow: rgb(0, 255, 221) 1px 1px 1px 1px;
    color: rgb(0, 255, 221) !important;
    transition: 0.5s;
    
}
#kapcs .card:hover{
    box-shadow: rgb(0, 255, 221) 1px 1px 1px 5px;
    transform: scaleX(1.05);


}
#kapcs .card a{
    color: rgb(0, 255, 221) !important;
}
#kapcs .card a:hover{
    font-size: 105%;
    color:rgb(255, 0, 0) ;
    text-decoration: underline;
}