
ol{
background-color: rgba(0, 0, 0, 0.7);
}

body {
    text-align: center;
    color: white;
    font-size: 20px;
}

div{
    text-align: center;

}
h1{
    background-color: rgba(0, 0, 0, 0.65);
}

.card{
    background-color: rgba(209, 209, 209, 0);
}
.card a:hover {
    font-size: 120%;
    color: rgba(255, 0, 0, 0.664);
    

}
.card a{
    transition: 0.4s;
}