body {background-image: linear-gradient( rgba(255, 255, 255, 0.575) , rgba(3, 3, 3, 0.336) ) ,url('források/képek/Karakterek/Háttér karakterek.jpg');
    background-size: cover;
    background-repeat: no-repeat;
background-attachment: fixed;}
    .káruszel{
        background-color: rgba(0, 0, 0, 0.89);
        margin-top: 100px;
    }
 a.infbutton{
    color: white;
}
.linkboxx{
    background-color: rgba(255, 255, 255, 0.239);
    
}
.linkboxx:hover{
    background-color: white;
    font-size: 120%;
    width: 110%;
    transition: 0.2s;
    box-shadow: 2px black;
}
div.carousel-caption{
    text-shadow: black 2px 2px;
}

.card{
    background-color: rgba(10, 9, 9, 0.993);
    color: white;
    margin-top: 100px;
}
.card h5{
    text-shadow: gray  1px 2px;
    font-weight: 700;
} 