ul .tartalom{
    background-color: rgba(0, 0, 0, 0.75);
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 55px;
    list-style-type: none;
    text-align: center;
    font-size: 30px; 
}

div{
    color: rgba(255, 255, 255, 0.5);
}

ul{
    list-style-type:none;
}
 .tartalom div{
    background-color: rgba(0, 0, 0, 0.75);
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 55px;
    list-style-type: none;
    text-align: center;
    font-size: 30px;  
}

div .forras{
    text-align: left ;
}
body{
    background-image: url('források/képek/3c2994fb3046ab04224e0fc2a8ef5c71.jpg');
}